<!DOCTYPE html>
<html>
<head>

  <title>Packy</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <link href="/css/phant.min.css" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
  <script src="/js/phant-manager.min.js"></script>


  <nav class="desktop-nav">

    <div class="container-fluid">

      <ul class="nav navbar-right navbar-nav">
        <li class="home"><a href="/">Packy</a></li>
        <li class="make-stream">
          <a href="/streams/create">
            <span class="glyphicon glyphicon-plus-sign"></span>
          </a>
        </li>
      </ul>

    </div>

  </nav>

  <nav class="mobile-nav">

    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Packy</a>
      </div>

      <div class="navbar-collapse collapse" style="height: auto;">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/streams/view">Explore Streams</a></li>
          <li><a href="/streams/create">Create a Stream</a></li>
        </ul>
      </div>

    </div>

  </nav>
</head>

<body>

<div class="container">

  <div class="row hero">
    <div class="col-md-12">
      <h1><span>Deleted</span><br>streams are no<b>fun.</b></h1>

    </div>
  </div>

  <div class="row">

    <div class="info-blocks">
    <h3>Stream Deleted:</h3>
    <p> {{stream}} </p>
    </div>

  </div>

</div>

</body>
<footer>
  <div class="container-fluid">
    <p>Brought to you with &#x2764; by <a href="https://sparkfun.com">SparkFun Electronics</a>.</p>
  </div>
</footer>
</html>
