<div class="container">

  <div class="row hero">
    <div class="col-md-12">
      <h1><span>Packy</span><br>a <b>simple</b> place<br>to push<br>your data.</h1>
    </div>
  </div>

  <div class="row">

    <div class="info-home">

      <h3>The Internet of Your Things</h3>
      <p>Packy allows any widget or web service that can create an http request to
      post data to a centralized location. Phant is built with Node.js, released as open
      source, and designed from the start for simplicity and hackability. </p>

      <h3>What types of projects would benefit from this service?</h3>
      <p>Almost anything. Your weather station in the backyard. A classroom of kids
      working on science experiments. A community concerned with pollution and
      crowdsourcing data collection. The weight of your pug's food dish. You get the
      idea. If your project can send an http request, you can push data out to our
      servers.</p>

      <h3>How can I give feedback about this project?</h3>
      <p>Send us an email: data@sparkfun.com</p>

    </div>

    <div class="info-blocks">

      <div class="blocks">

        <div class="block1">
          <a href="/streams/create">Create</a>
          <p>Create a data stream and start pushing to it.</p>
        </div>

        <div class="block3">
          <a href="/streams/view">Explore</a>
          <p>Explore all of the public data streams.</p>
        </div>

      </div>

    </div>

  </div>

</div>
